<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marko+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">


  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F7F7F7;
  font-size: 1.5rem;
}
</style>

<link rel="shortcut icon" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592788393/ChurchPhotos/celelogo_aamazr.ico">
    <title>Luli Parish</title>
  </head>

  <body>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
   <div class ="container">
  <a class="navbar-brand" href="/home"><!-- <img src="photos/logo1.png"> --><strong> Luli Parish Ireland</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" align="center" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/tenet">Tenet</a>
      </li>
       <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/biblelessons">Bible Lessons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/gallery">Gallery</a>
      </li>      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</div>
</nav>





<div class = "container">

  <h2 class="featurette-heading"><strong><p>HALLELUYAH!</p>Welcome to Celestial Church of Christ<p>Luli Parish Ireland</p></strong></h2><p align="center"><p align="center">Luli Parish was established on Sunday 29th December 2002 through the grace of our Lord Jesus Christ by the Shepherd and the family. The parish started at 12 The Crescent, Lakepoint Park, Mullingar, Co.Westmeath, Ireland (Shepherd’s residence). After 6 months of worshiping in the house, God uplifted the parish with more members and the church moved to a bigger premises (Unit 4, Mullingar Business Park). Luli Parish is the 1st Celestial Church in the midlands area of Republic of Ireland. All the members that joined in the first 6 months are still active members of the church.</p>
  <p align="center">
    Towards the end of 2006, God blessed the parish with a Mini Bus which we are now using for the Glory of God to transport members and evangelise the message of God.
The parish have just bought three units with auditorium for worship and a multi-purporse hall for wedding reception, conferences etc.
The parish is very proud of its Sunday School which holds it’s annual and highly anticipated and compelling Children Bible Quiz every last Sunday in May. The church is also immensely proud of its choir, which is outstanding among others and blessed with experienced organists, guitarists, drummers, saxophonists and lots of talented singers. Above all, the church is proud of all its committed and virtuous members. Everyday we enjoy the influx of more God fearing converts joining the church. Our Parish believes in ONE GOD, ONE INDIVISIBLE CHURCH, and ONE LEADER.
</p>
<h4 class="featurette-heading"><strong>Vision of the Church</strong></h4>
<p align="center">
<ul>
<li>To evangelise to the world through the proclamation of the word-The Good News of the Messiah Jesus Christ, and of the kingdom of God; in the mighty name of Jesus Christ.
</li>
<li>Proclaiming deliverance to those bound by the shackles of Satan</li>
<li>Healing the broken hearted, the sick, the infirm.</li>
<li>Restoring hope to the hopeless and those who are bound, while reinforcing the faith of all feeble and strong in the unfailing righteousness and faithfulness of God Almighty and Jesus Christ,the Lord and Saviour.</li> 
</ul>


<h4 class="featurette-heading"><strong>The Church Mission</strong></h4>
<p align="center" data-aos="fadeInUp">
<ul>
<li>To worship God Almighty in holiness and in reverence.</li>
<li>To prepare a body of believers for the coming of the Lord Jesus Christ.</li>
<li>To promote crime free and drug free environment.</li>
<li>To preach the good news of the Messiah Jesus Christ and the kingdom of God through evangelism, bible classes, bible lectures, bible quiz using prints and electronics media.</li> 
<li>To encourage peace and stability in family and homes as a social unit in the community.</li> 
<li>To restore Christian values into homes and family through fasting and prayers.</li> 
<li>To organise charities and relief operation.</li> 
<li>To win souls for the kingdom of God through our Lord Jesus Christ.</li> 
</ul>
	



    </div>


 <hr class="featurette-divider">


  <!-- FOOTER -->
<footer class="container">
    <div class="up-arrow float-right"><a href="#"><i class="fa fa-arrow-up" style="font-size:30px"></i></a></div>
    <div id= "footerText">
    <p>&copy; 2020 Luli Parish | Designed &amp; Built by <a href ="https://github.com/AyoAfolalu?tab=repositories" target="_blank">Ayo Afolalu</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p></div>
  </footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="landingPage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  </body>
</html>


