<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marko+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
   <!-- <link href="lightbox2-2.11.1\dist\css\lightbox.css" rel="stylesheet"/>-->


  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F7F7F7;
  font-size: 1.5rem;
}
</style>

<link rel="shortcut icon" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592788393/ChurchPhotos/celelogo_aamazr.ico">
    <title>Bible Lessons - Luli Parish</title>
  </head>

  <body>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
   <div class ="container">
  <a class="navbar-brand" href="/home"><!-- <img src="photos/logo1.png"> --><strong> Luli Parish Ireland</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" align="center" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/tenet">Tenet</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#">Bible Lessons<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</div>
</nav>





<div class = "container">

 <h2 class="featurette-heading"><strong>Bible Lessons 2020</strong></h2>

  <div class="dropdown" align="center">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select a Month
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592782477/ChurchPhotos/jan_kpow4x.jpg" data-lightbox="lessons" data-title="January Bible Lessons">January</a>
    <a class="dropdown-item" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592782477/ChurchPhotos/feb_r2812y.jpg" data-lightbox="lessons" data-title="February Bible Lessons">February</a>
    <a class="dropdown-item" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592782477/ChurchPhotos/march_cwngt4.jpg" data-lightbox="lessons" data-title="March Bible Lessons">March</a>
    <a class="dropdown-item" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592782478/ChurchPhotos/april_xy5ldw.jpg" data-lightbox="lessons" data-title="April Bible Lessons">April</a>
    <a class="dropdown-item" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592782478/ChurchPhotos/may_l3nixz.jpg" data-lightbox="lessons" data-title="May Bible Lessons">May</a>
    <a class="dropdown-item" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592782477/ChurchPhotos/june_u9zg96.jpg" data-lightbox="lessons" data-title="June Bible Lessons">June</a>
    <a class="dropdown-item" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592782477/ChurchPhotos/july_ysaouv.jpg" data-lightbox="lessons" data-title="July Bible Lessons">July</a>
    <a class="dropdown-item" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592782478/ChurchPhotos/aug_ydkbpq.jpg" data-lightbox="lessons" data-title="August Bible Lessons">August</a>
    <a class="dropdown-item" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592782478/ChurchPhotos/sept_usaji1.jpg" data-lightbox="lessons" data-title="September Bible Lessons">September</a>
    <a class="dropdown-item" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592782478/ChurchPhotos/oct_nk8e2t.jpg" data-lightbox="lessons" data-title="October Bible Lessons">October</a>
    <a class="dropdown-item" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592782478/ChurchPhotos/nov_ajvgkv.jpg" data-lightbox="lessons" data-title="Novemeber Bible Lessons">Novemeber</a>
    <a class="dropdown-item" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592782477/ChurchPhotos/dec_hfqpsw.jpg" data-lightbox="lessons" data-title="Decemeber Bible Lessons">Decemeber</a>
  </div>
</div>

<hr class="featurette-divider">

 <h2 class="featurette-heading" data-aos="fadeInUp"><strong>Sermons</strong></h2>
 <div id = "video" data-aos="fadeInUp" align = "center">
<iframe width="100%" height="700px" src="https://www.youtube.com/embed/9I5gvx9Dnic" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
Source: <a href="https://www.youtube.com/channel/UC4aZXkygg6351cxGBB2os9w" target="_blank">Celestial Television Network</a>
</div>


<hr class="featurette-divider">

    </div>



  <!-- FOOTER -->
    <footer class="container">
    <div class="up-arrow float-right"><a href="#"><i class="fa fa-arrow-up" style="font-size:30px"></i></a></div>
    <div id= "footerText">
    <p>&copy; 2020 Luli Parish | Designed &amp; Built by <a href ="https://github.com/AyoAfolalu?tab=repositories" target="_blank">Ayo Afolalu</a> | All Rights Reserved</p></div>
  </footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="landingPage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="lightbox2-2.11.1\dist\js\lightbox.js"></script>
	  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  </body>
</html>


