<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marko+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F7F8FC;
  font-size: 1.5rem;
}
</style>

<link rel="shortcut icon" href="https://res.cloudinary.com/ayoafolalu/image/upload/v1592788393/ChurchPhotos/celelogo_aamazr.ico">
    <title>Luli Parish</title>
  </head>

  <body>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
   <div class ="container">
  <a class="navbar-brand" href="index.html"><!-- <img src="photos/logo1.png"> --><strong> Luli Parish Ireland</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" align="center" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/about">About Us</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Tenet<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/biblelessons">Bible Lessons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link w3-animate-opacity" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</div>
</nav>


<div class = "container">

<h2 class="featurette-heading"><strong>Code of Conduct</strong></h2>
<p align="center" >The following are the summary of rules, regulation, and tenets of Celestial Church of Christ.
Members are forbidden to:</p>
<p><ul><li>Drink Alcohol, Wine or any intoxicating drinks.</li>
<li>Smoke cigarettes, take or sniff drugs of any kind.</li>
<li>Eat pork or any product made of pork, including crawling animals-snake</li>
<li>Wear red or black apparel except for professional reasons.</li>
<li>Commit Adultery or fornication.</li>
<li>Sit side by side with members of the opposite sex inside the Church</li>
<li>Go out late at night.</li>
<li>Wear transparent dress especially transparent Soutana while in the Church</li>
<li>Female members are forbidden to: Leave their head uncovered while in the Church, go into the Altar area, paint their lips and nails.</li>
<li>Male members are not allow to wear long hairs or earrings</li>
<li>Female members are forbidden to come into the church for 7 days during their monthly period, after which they MUST sanctified by a church Elder on the 8th day of their monthly cycle. EVERY MEMBER MUST be sanctified by a senior member if they touch a dead body. As dead bodies is classified as unclean Ezekiel 43: 7-9</li>
</p>

<h2 class="featurette-heading"><strong>Celestial Church of Christ – The Last Ship of Salvation</strong></h2>
<p align="center">The name of the Church speaks for itself.- Celestial Church of Christ. A Holy Church descended from heaven above for the salvation of mankind. The ways of worship, Hymns and Prayer style is not inculcated by human understanding. Rather it is through Divine inspiration from God revealed by the prophets and prophetess. Being a member of this last ship of salvation is a great privilege because the covenant instructed by God in His word “Touch not my anointed and Do my prophet No harm” I Chronicles 16:22 is being accomplished in the life of every member. This is why the Glory of God radiates around the TRUE Celestians.</p>

<h2 class="featurette-heading"><strong>Prayer Style</strong></h2>
<p align="center">All our prayers start with Jehovah, Jesus Christ, Holy Michael. JEHOVAH: GOD the Father, the Creator of heaven and earth (Exodus 6:2-3 Psalm 83:18, Isaiah12:2). JESUS CHRIST: The author and finisher of our faith. At the name of Jesus Christ every knee shall bow and every tongue shall confess that Jesus is Lord (Hebrew 12: 2, Roman14:9-11) HOLY MICHAEL: The archangel that fought and prevailed over the devil. The reason he is included in our prayers is to fight against the devil par-adventure as he shows his ugly head during prayer (Daniel 10:10-14, Daniel 12:1 Jude1:9 Revelation 12:7-10).</p>

<h2 class="featurette-heading"><strong>New Convert</strong></h2>
<p align="center">There is no pre-condition for admitting any willing person into the membership of the Church. However, some steps need to be taken to ensure a clean break between old new ways of life. Our Lord Jesus said to Nicodemus in John 3:3-5 “No one can enter the kingdom of God unless he is born of water and spirit. There are three vital steps for any new converts over a period of time: Sanctification, Baptism and Anointment (Consecration).</p>

<h2 class="featurette-heading"><strong>Sanctification</strong></h2>
<p align="center">The purpose of sanctification for new members is to remove his or her filth and stain of darkness in accordance with the word of God as seen Ezekiel 36:25-30, 11:17-20, Exodus 19:10-20, Lev 10:3. As Adam was driven out of Garden of Eden because of his sin, there is also the restoration of renewed Adam through sanctification into New Jerusalem in Christ Jesus. Hence the hymn given to Celestial Church of Christ, a hymn of invitation to rebirth and repentance of sin (Hymn No. 8): Jesus is calling you sinner Oh sinner come…..etc Yoruba version: Jesu lonpe o tantan ma bo elese wa…..etc . After sanctification, the new member is numbered among the children of promise in the new faith in Christ Jesus. Materials used for sanctification are water, sponge, soap and a stick of candle which when lit symbolises the spirit of God like tongue of fire which descended on the first apostles to sanctify them on the day of Pentecost (Act 2:1-4). Following the sanctification of the member is the sanctification of the member’s place of abode. A clean man remains clean if he resides in a clean environment. A sanctified man in a filthy environment is unclean since man is a product of his environment. Act 19:18-19 supports the reason why member’s house should be cleared of any magic charms, or any impurities once he or she has started a new life in Christ Jesus. Another form of sanctification is purification exercise that a woman undergoes after her monthly period and forty days after given birth or when any member touches a dead body. This is very important and God does not take this lightly (Lev 12. Lev15:16-30). Many non-members wonder why Celestians do this but Christ established it beyond reasonable doubt in Mark5:25-34. The weight of the impurity and healing was so much felt by Jesus Christ that He could not resist asking who touched him.</p>

<h2 class="featurette-heading"><strong>Baptism</strong></h2>
<p align="center">A prospective member may be presented for the rite of baptism only after he has participated in the worship and adhere to the rules of the Church for at least 12 months, That length of time is for the person to examine the doctrine and mode of worship thoroughly before fully accepting to be a member permanently(Acts 11:26). Baptism therefore is the first rite performed to formally admit a worshiper into full membership of the Church after which such member becomes spiritually equipped and elevated to partake of Holy Communion and join other members of the Church in spiritual prayers according to the prompting of the Holy Spirit. Baptism in Celestial Church of Christ follows immersion into water, a pattern Christ himself underwent in River Jordan through the hand of John the Baptist; Matt 3:13-17. This is ordained and instructed by God. The Shepherd conducts a short service at the river side and explains the importance of Baptism to the members to be baptised.</p>

<h2 class="featurette-heading"><strong>Anointment</strong></h2>
<p align="center">
  Anointment exercise is a process every member undergoes after Baptism, it is a spiritual exercise for members to be able to partake in conducting or officiate in various services. The Pastor who is the head of the Church is the only person PERMITTED to anoint members and this is always done in large group from all over the world as recommended by parish Shepherds. Each member is allowed to under go anointment exercise every 3 years to obtain different ranks and titles to serve in the vineyard. See Ranks in Celestial. Anointment exercise is also very important for any member ordained to be a Priest in the Celestial Church of Christ (Exodus40:12-15, John10:11-6). Anointment Clergymen are called SHEPHERD in Celestial Church. This is not a mere sheep herdsman as a layman may describe it. Rather the title was instructed and directed by God through His prophets. God himself was addressed as the Shepherd of Israel in Genesis 49:24, Psalm 23:1 and Psalm 80;1. Jesus Christ proudly called Himself the Good Shepherd in John10:11-17, Hebrew13:20, and I Peter 2:25. Celestial Church of Christ is the only denomination that calls its clergy Shepherd.
</p>


<h2 class="featurette-heading"><strong>Worship and Ceremony</strong></h2>
<p align="center">The format of worship and ceremony performed in this church is unique and incomparable with other denomination. Every step of worship ceremony is significant, inspirational and divinely directed by God through His prophets. Worship is the most important part in the doctrine Celestial Church of Christ. “Then the Lord said unto Moses, go in unto Pharaoh and tell him, thus say the Lord of the Hebrews, let my people go that they may serve me” (Exodus9:1). It is important to note that what God primarily demands from His people and from generation to generation is to “serve and worship the Lord thy God with all thy heart, with all thy might. And ye shall serve the Lord your God and he shall bless thy bread etc (Exodus 23:25). The service or worship of God is a strong deciding fact that show who belongs to Him and who does not (Malachi 3:14-18). The frequency, mode and intensity of worship in Celestial Church of Christ shows how important worship is. As rightly mentioned all the Days of worship has its own significant which should be taken seriously because individual angels of God has functions and assignment to carry out on the designated days of worship and ceremony. It is right to say that we observe the three-hourly time of prayer: 6:00am, 9:00am, 12:00noon, 3:00pm, 6:00pm and 12midnight (Psalm 119:164).</p>





    </div>


  <hr class="featurette-divider">
  <!-- FOOTER -->

  <footer class="container">
    <div class="up-arrow float-right"><a href="#"><i class="fa fa-arrow-up" style="font-size:30px"></i></a></div> 
    <div id= "footerText">
    <p>&copy; 2020 Luli Parish | Designed &amp; Built by <a href ="https://github.com/AyoAfolalu?tab=repositories" target="_blank">Ayo Afolalu</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p></div>
  </footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="landingPage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </body>
</html>


